# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock

# System Files
.DS_Store
Thumbs.db
