<h1 class="mat-headline">Linked Data Graphic</h1>

<p class="mat-body-strong">Linked Data Graphic and Visualization Components
  for Angular</p>

<div style="height: 400px">
  <ngld-canvas [graph]="ldData" [zoomFit]="true"></ngld-canvas>
</div>
<ngld-info-panel></ngld-info-panel>

<section class="mat-typography">
  <h2 id="installation">
    Installation
    <a title="Link to this heading" class="header-link" aria-hidden="true"
      href="/#installation">
      <mat-icon aria-label="link icon">link</mat-icon>
    </a>
  </h2>

  <p>Initially, this library is designed as an Angular Component and released as
    an npm package, for which
    <a href="https://angular.io/guide/quickstart">Angular Development Environment</a>
    and an
    <a href="https://docs.npmjs.com/about-npm">npm package manager</a>
    is prerequisites.</p>

  <app-code language="bash">
    npm install @ngld/canvas
  </app-code>

</section>

<section class="mat-typography">
  <h2 id="getting-started">
    Getting Started: Thorin and Company Path
    <a title="Link to this heading" class="header-link" aria-hidden="true"
      href="/#getting-started">
      <mat-icon aria-label="link icon">link</mat-icon>
    </a>
  </h2>

  <p>Open the module file (e.g <code>app.module.ts</code>) and import the
    <code>LinkedDataGraphicModule</code> symbol from <code>linked-data-graphic</code>
    library. Then add <code>LinkedDataGraphicModule</code> to the <code>@NgModule</code>
    metadata's <code>imports</code> array. </p>

  <app-code language="javascript">
    {{ codes.installInTs }}
  </app-code>

  <p>Prepare a simple list of linked data with nodes and relations information
    in your application component(e.g <code>app.component.ts</code>) as a property
    for binding into <code>ngld-canvas</code> component later.
  </p>

  <app-code language="javascript">
    {{ codes.bindingProperty }}
  </app-code>

  <p>Add a <code>&lt;ngld-canvas&gt;</code> element,
    the <code>&lt;ngld-canvas&gt;</code> component selector, into your
    application's template, where your linked data is intended to be shown.</p>
  <app-code language="javascript">
    {{ codes.componentUsageHtml }}
  </app-code>

  With the <code>debug</code> directive, the graphic should be rendered like this:
</section>

<div style="height: 400px">
  <ngld-canvas [graph]="thorinAndCompany" [debug]="true"
    [highlightChecker]="thorinAndCompanyHighlighter"></ngld-canvas>
</div>
