@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@import './modules/code.scss';
@import './modules/heading-ext.scss';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
$typo-config: mat.define-typography-config();
@include mat.core($typo-config);
@include mat-code-typography($typo-config);
@include mat-heading-typography($typo-config);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$chigix-primary: mat.define-palette(mat.$indigo-palette, 700, 600, 800);
$chigix-accent: mat.define-palette(mat.$pink-palette, 700, 600, 800);

// The warn palette is optional (defaults to red).
$chigix-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$chigix-theme: mat.define-light-theme($chigix-primary, $chigix-accent, $chigix-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chigix-theme);
@include mat-code-theme($chigix-theme);
