.sidenav-container {
  height: 100%;
  z-index: 1;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: 0.3);
}

main.content {
  margin: auto;
  padding: 80px 3rem 1rem;
}

.docs-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
